<div class=“card-block”>
   <div class=“card” style=“width: 20rem;“>
      <div class=“card-block”>
    <p class=“card-title queue-title”>QUEUE</p>
    <button class=“btn special-green take-next-size”>Take Next</button>
      </div>
    </div>
  </div>

  <div class=“card queue-card”>
  <ul class=“list-group list-group”>
      <div>   
        <div class=“card student-queue”>
            <div class=“card-block”>
              Phil Jones
                      <i class=“fa fa-ellipsis-h” aria-hidden=“true”></i>
            </div>
          </div>

          <div class=“card student-queue”>
            <div class=“card-block”>
              Phil Jones
            </div>
          </div>

          <div class=“card student-queue”>
            <div class=“card-block”>
              Phil Jones
            </div>
          </div>
      </div>
  </ul>
</div>

