<div class="container border-test">
  <div class="row">
    <div class="col-md-6 border-test active-ticket ticket-titles">
        ACTIVE TICKET
    </div>

    <div class="col-md-6 border-test d-flex flex-row">
        <button data-toggle="collapse" data-target="#demo" class="unresolved btn btn-outline-secondary unresolved-btn">Mark Unresolved</button>
        <div id="demo" class="collapse form-group">
        </div>

        <button data-toggle="collapse" data-target="#demo" class="resolved btn btn-primary resolved-btn">Resolved</button>
    </div>

    <div class="col-md-12 active-ticket">
      <%= render "pages/ticket_info" %>
    </div>
  </div>
</div>
