<div class="container border-test">
  <div class="container border-test">
    <div class=
    <div class="col-md-7 border-test">
        Active Ticket
    </div>

    <div class="col-md-5 border-test">
      <div class="btn btn-primary resolve-btn">
        <a href="#">Mark Unresolved</a>
      </div>
      <div class="btn btn-primary resolve-btn">
        <a href="#">Resolved</a>
      </div>
    </div>

    <div class="col-md-12 active-ticket">
    </div>

  </div>
</div>
