<div class="container border-test">
  <div class="row">
    <div class="col-md-6 border-test active-ticket ticket-titles">
        ACTIVE TICKET
    </div>

    <div class="col-md-6 border-test d-flex flex-row">
<<<<<<< HEAD
      
        <button data-toggle="collapse" data-target="#unresolved" class="unresolved btn btn-outline-secondary unresolved-btn">Mark Unresolved</button>

        <button data-toggle="collapse" data-target="#resolved" class="resolved btn btn-primary resolved-btn">Resolved</button>
    </div>

    <div class="col-md-12">
       <div class="container">
          <div id="unresolved" class="collapse form-group">
            <div class="form-group">
              <textarea class="form-control" rows="5" id="comment" placeholder="Enter your TA notes here"></textarea>
            </div>
             <button data-toggle="collapse" data-target="#resolved" class="resolved btn btn-primary resolved-btn">Cancel</button>
             <button data-toggle="collapse" data-target="#resolved" class="resolved btn btn-primary resolved-btn">Finish</button>
          </div>
        </div> 
      </div>
=======
        <button data-toggle="collapse" data-target="#demo" class="unresolved btn btn-outline-secondary unresolved-btn">Mark Unresolved</button>
        <div id="demo" class="collapse form-group">
        </div>
>>>>>>> c981b4f42cdcddfb0addda279b3e2cd6198adc1c

      <div class="col-md-12">
        <div class="container">
          <div id="resolved" class="collapse form-group">
            <div class="form-group">
              <textarea class="form-control" rows="5" id="comment" placeholder="Enter your TA notes here"></textarea>
            </div>
             <button data-toggle="collapse" data-target="#resolved" class="resolved btn btn-primary resolved-btn">Cancel</button>
             <button data-toggle="collapse" data-target="#resolved" class="resolved btn btn-primary resolved-btn">Finish</button>
          </div>
        </div> 
      </div>  

    <div class="col-md-12 active-ticket">
      <%= render "pages/ticket_info" %>
    </div>
  </div>
</div>
