<div class="container border-test">
  <div class="row">
    <div class="col-md-6 border-test">
        Active Ticket
    </div>

    <div class="col-md-6 border-test d-flex flex-row">
      <div class="btn btn-primary resolve-btn">
        <a href="#">Mark Unresolved</a>
      </div>
      <div class="btn btn-primary resolve-btn">
        <a href="#">Resolved</a>
      </div>
    </div>

    <div class="col-md-12 active-ticket">
      <%= render "pages/ticket_info" %>
    </div>
  </div>
</div>
