<div class="container border-test">
  <div class="ticket-titles">
    QUEUE
  </div>

    <button data-toggle="collapse" data-target="#demo" class="resolved btn btn-primary resolved-btn">Take Next</button>

  </div>
