@import "bootstrap";

.btn-primary {
  background-color: #3AE39F;
  border-color: #3AE39F;
}
.btn-primary:hover {
  background-color: #1ca355;
  border-color: #1ca355;
}

.btn-outline-secondary {
  color: lightgrey;
}

.border-test {
  padding-top: 5px;
  padding-bottom: 5px;
}

.main-border-test {
  border: 2px solid lightgrey;
  margin-top: 10px;
  border-radius: 5px;
}

.resolved-btn {
  margin-left: 15px;
}

.resolved-btn a {
  color: white;
}

.unresolved-btn a {
  color: lightgrey;
}

.unresolved-btn:hover a {
  color: white;
}

.ticket-info {
  margin: 15px;
}

.ticket-box {
  margin-top: 15px;
}

.timer-position {
  margin-top: 15px;
}

.ticket-titles {
  font-weight: bold;
}

.active-ticket {
  margin-top: 8px;
}

.special-green {
    background-color: #3AE39F ;
    color: white;
    font-weight: 300;
}
.queue-card {
    width: 20rem;
    height: 30rem;
    margin-left: 20px;
    margin-top: -15px;
}
.take-next-size {
    height: 53px;
    width: 263px;
    border-radius: 5px;

}
.queue-title {
    color: #464646 ;
    margin-top: 15px;
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
}
.student-queue {
    margin: 15px 30px 5px 30px;
}
