.body {
    font-family: ‘Roboto’, sans-serif;

}

.special-green {
    background-color: #3AE39F ;
    color: white;
    font-weight: 300;

}

.queue-card {
    width: 20rem;
    height: 30rem;
    margin-left: 20px;
    margin-top: -15px;
}

.take-next-size {
    height: 53px;
    width: 263px;
    border-radius: 5px;

}

.queue-title {
    color: #464646 ;
    margin-top: 15px;
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
}

.student-queue {
    margin: 15px 30px 5px 30px;
}